@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Fresca&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Fresca&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patrick+Hand&display=swap");
.ff-patrick {
  font-family: "Patrick Hand", cursive;
}
.ff-lato {
  font-family: "Lato", sans-serif;
}
/* nav-bar  */
nav{
    position: sticky !important;
    top: 0;
    z-index: 2;
    opacity: 0.8;
}

.bg-nav {
  background-color: white;
}
nav a {
  color: black !important;
}
.nav-active,
.nav-item a:hover {
  text-decoration: underline;
}
/* carousel  */
.carousel {
  z-index: 1;
}
.carousel-item img {
  width: 100%;
}
.carousel-title {
  margin-bottom: 20%;
}
.carousel-box {
  margin-bottom: 2%;
}
.home-img img:hover{
  scale: 0.9;
  transition: 0.6s;
}
.stat i:hover{
  transform: rotateY(180deg);
  transition: 0.6s;
}
footer{
  background-color: #0F2454;
  position: relative;
}
footer a i{
  background-color: #1288A2;
}
.foot-text{
  color: #1288A2 !important;
}
.up{
  position: absolute;
  right: 1%;
  bottom: 10px;
}
.tour-img{
  position:relative;
  cursor: pointer;
}
.text-img{
  position: absolute;
  left: 25px;
  bottom: 15px;
}
.text-img h1{
  border-bottom: 1px solid white;
}
.price,.d-tour{
  background-color: #1288A2;
  position: absolute;
  top: 10px;
  right: 30px;
}
.text-img{
  visibility: hidden;
}
.tour-img:hover .text-img{
  visibility: visible;
}
.destination{
  position: relative;
}
.destination:hover {
  scale: 1.05;
  transition: 0.5s;
}
.d-info{
  position: absolute;
  left: 5%;
  bottom: 5px;
}
.d-explore{
  position: absolute;
  right: 25px;
  bottom: 20px;
}
.tour-guide{
  background-color: #0F2454;
}
.guide{
  position: relative; 
}
.guide-name{
  background-color: #2095AE;
  position: absolute;
  left: 55px;
  bottom: -45px;
}
.guide:hover .guide-name{
  visibility: hidden;
}
.guide-info{
  background-color: #2095AE;
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.info-text{
  margin-top: 35%;
  visibility: hidden;
}
.guide:hover .guide-info{
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2094aedb;
}
.guide:hover .info-text{
  visibility: visible;
}
.info-text i{
  cursor: pointer;
}
.msg-box{
  border: 1px solid #1288A2;
  border-radius: 8px;
}
 