@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Fresca&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Fresca&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patrick+Hand&display=swap");
.ff-patrick {
  font-family: "Patrick Hand", cursive;
}
.ff-lato {
  font-family: "Lato", sans-serif;
}
nav {
  cursor: pointer;
}
.left-nav{
  background-color:#202531;
}
.theme ul li {
  border: 1px solid #202531;
}
.socials {
  height: 120px;
}
.socials-logo a {
  line-height: 120px;
}
